.centered {
    text-align: center;
}

.contact-container {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.1em;
    color: var(--body-color);
}

.contact-container a {
    font-weight: bold;
    color: var(--rjl-yellow);
    font-size: 2em;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
}

@media screen and (max-width: 1280px) {
    .contact-container {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (max-width: 960px) {
    .contact-container {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .contact-container a {
        font-weight: bold;
        color: var(--rjl-yellow);
        font-size: 1.1em;
    }
}