.centered {
    text-align: center;
}

#toggleShowMoreButton {
    border: none;
    background: none;
    font-size: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .33em;
    padding-bottom: .33em;
    color: #1B4965;
    cursor: pointer;
}