.title-component h1 {
    margin: auto;
    margin-left: .25em;
    line-height: 100%;
    font-family: 'MomcakeBold';
    font-size: 5em;
    font-weight: 100;
}

.main-logo {
    margin-top: .25em;
    margin-left: 2em;
    margin-bottom: .25em;
}

@media screen and (max-width: 1280px) {
    .title-component {
        text-align: center;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    .main-logo {
        margin-left: 0;
        margin-bottom: 0;
    }
}